.srcimage {
  height: 540px;
  width: 716px;
  margin-left: 10%;
}

body {
  height: 6000px;
}

.all {
  background-image: url(381801.jpg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-attachment: fixed;
}
